{% extends "layouts/base.html" %}
{% block title %} All Games {% endblock %}
{% block content %}
<div class="searchgame">
    <p>Search for a game:</p>
    <form class="search" method="post" action="/games/search">
        <input class="form-control"
          type="search"
          name="search_term"
          placeholder="Find a game">
      </form>
</div>
<div>
    <h2>Our club collection currently has {{games_num}} titles</h2>
</div>
<div class="gamestable">
    <table class="tableofgames">
        <th>Title</th>
        <th>Owner(s)</th>
        {% for game in games %}
        <tr>
            <td><a href="{{game.link}}">{{game.title}}</a><button class="delete-button" style="background-color: red;" data-id="{{game.id}}">&cross;</button></td>
            <td>{% for owner in game.owners %}<a href="/members/{{owner.id}}">{{owner.username}}</a>     {% endfor%}<button data-id="{{game.id}}" class="own-button" style="background-color: green; color:white" >&plus;</button></td>

        </tr>
        {% endfor %}
    </table>
</div>
<script>
    const ownButtons = document.querySelectorAll('.own-button')
    for (let i=0;i<ownButtons.length;i++) {
        const ownButton=ownButtons[i];
        ownButton.onclick=function(e) {
            const gameID=e.target.dataset['id'];
            fetch('/games/'+gameID+'/own', {
                method: 'PATCH'
            })
            .then(function() {
                location.reload();
            })

        }
    }
    const deleteButtons = document.querySelectorAll('.delete-button')
    for (let i=0;i<deleteButtons.length;i++) {
        const deleteButton=deleteButtons[i];
        deleteButton.onclick=function(e) {
            const gameID=e.target.dataset['id'];
            fetch('/games/'+gameID+'/delete', {
                method: 'DELETE'
            })
            .then(function() {
                location.reload();
            })

        }
    }
</script>
{% endblock %}
