{% extends "layouts/base.html" %}
{% block title %} {{member.username}} {% endblock %}
{% block content %}
<div class="topcontent">
    <img class="profile_img" src='{{member.img_link}}' alt="profile image">
    <h1 style="font-size: 6em;">{{member.username}}</h1>
    <h3>Rank: {%+ if member.admin %}Admin {% endif %}{%+ if member.member %}member {% endif %}</h3>
    <p>{{member.description}}</p>
</div>
<div class="centercontent">
    <table>
        <th>Personal Information</th>
        <th>{{member.username}}</th>
        <tr>
            <td>First Name:</td>
            <td>{{member.first_name}}</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>{{member.last_name}}</td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td>{{member.phone}}</td>
        </tr>
        <tr>
            <td>e-mail:</td>
            <td>{{member.email}}</td>
        </tr>
        <th>Home address</th>
        <th>{{member.home_address.name}}</th>
        <tr>
            <td>Country:</td>
            <td>{{member.home_address.country}}</td>
        </tr>
        <tr>
            <td>City:</td>
            <td>{{member.home_address.city}}</td>
        </tr>
        <tr>
            <td>Street:</td>
            <td>{{member.home_address.street}}</td>
        </tr>
        <tr>
            <td>House number:</td>
            <td>{{member.home_address.house_num}}</td>
        </tr>
        <tr>
            <td>Appartment number:</td>
            <td>{{member.home_address.appartment_num}}</td>
        </tr>
    </table>
</div>
<div class="user_collection">
    <h2 style="font-size: 250%;">{{member.username}}'s games collection:</h2>
    <ul>{% for game in member.ownership %}<li><a href='{{game.link}}''>{{game.title}}</li>{% endfor %}
    </ul>
</div>
{% endblock %}