{% extends "layouts/base.html" %}
{% block title %} {{event.name}} {% endblock %}
{% block content %}
<h1 style="font-size: 4rem;">{{event.name}}{% if current_user.admin or is_host %}<button style="font-size: xx-large; background-color: rgb(194, 18, 18);" class="delete-button">&cross;</button>{% endif %}
    {% if is_host %}<a href="/events/{{event.id}}/edit"><button style="background-color: rgb(124, 94, 59); font-size: xx-large; color: rgb(255, 255, 255);">Edit event</button></a>{% endif %}
    {% if current_user.member and did_join==False and current_players_num < event.max_players %}<button style="background-color: rgb(90, 155, 25); font-size: xx-large; color: rgb(255, 255, 255);" class="join-button">JOIN</button>{% endif %}
    {% if did_join %}<button style="background-color: rgb(25, 127, 161); font-size: xx-large; color: rgb(255, 255, 255);" class="unjoin-button">Withdraw</button></h1>{% endif %}

<h2>Seats taken: {{current_players_num}}/{{event.max_players}}</h2>
<h2>Location: {{event.location.name}}</h2>
<h2>Time: {{event.time}}</h2>
<h3>Host: <a href="/members/{{event.host_id}}">{{event.host.username}}</a></h3>
<ul>Games:
    {% for game in event.games %}
    <li><a href='{{game.link}}'>{{game.title}}</a></li>
    {% endfor %}
</ul>
<ul>Players joined:
    {% for player in event.players %}
    <li><a href="/members/{{player.id}}">{{player.username}}</a></li>
    {% endfor %}
</ul>
<p>{{event.description}}</p>
{% if current_user.member %}
<table>Address
    <tr>
        <td>Country:</td>
        <td>{{event.location.country}}</td>
    </tr>
    <tr>
        <td>City:</td>
        <td>{{event.location.city}}</td>
    </tr>
    <tr>
        <td>Street:</td>
        <td>{{event.location.street}}</td>
    </tr>
    <tr>
        <td>House number:</td>
        <td>{{event.location.house_num}}</td>
    </tr>
    <tr>
        <td>Appartment number:</td>
        <td>{{event.location.appartment_num}}</td>
    </tr>
</table>
{% endif %}
<script>
    {% if current_user.admin or is_host %}
    const deleteButton=document.querySelector('.delete-button');
    deleteButton.onclick=function(e){
        console.log('event',e);
        fetch('/events/'+"{{event.id}}"+'/delete',{
            method: 'DELETE',
        })
        .then(function() {
			location.href='/events/all';
		})
    }
    {% endif %}
    {% if current_user.member and did_join==False and current_players_num < event.max_players %}
    const joinButton=document.querySelector('.join-button');
    joinButton.onclick=function(e){
        console.log('event',e);
        fetch('/events/'+"{{event.id}}"+'/join',{
            method: 'PATCH',
        })
        .then(function() {
			location.reload();
		})
    }
    {% endif %}
    {% if did_join %}
    const unjoinButton=document.querySelector('.unjoin-button');
    unjoinButton.onclick=function(e){
        console.log('event',e);
        fetch('/events/'+"{{event.id}}"+'/unjoin',{
            method: 'PATCH',
        })
        .then(function() {
			location.reload();
		})
    }
    {% endif %}
</script>


{% endblock %}