{% extends "layouts/base.html" %}
{% block title %} Events {% endblock %}
{% block content %}
<div class="searchevent">
    <p>Search for an event:</p>
    <form class="search" method="post" action="/events/search">
        <input class="form-control"
          type="search"
          name="search_term"
          placeholder="Find an event">
      </form>
</div>
<div class="future">
    <h1>FUTURE EVENTS</h1>
    <table class="tableofevents">
        <th>Event name</th>
        <th>Host</th>
        <th>Game(s)</th>
        <th>Seats Taken</th>
        <th>Location</th>
        <th>Time</th>
        {% for event in future %}
        
        <tr>
            <td><a href="/events/{{event.id}}">{{event.name}}</a></td>
            <td><a href="/members/{{event.host.id}}">{{event.host.username}}</a></td>
            <td>{% for game in event.games %}<a href="{{game.link}}">{{game.title}}</a>    {% endfor %}</td>
            <td>{{joined[event.name]}}/{{event.max_players}}</td>
            <td>{{event.location.name}}</td>
            <td>{{event.time}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<h1>PAST EVENTS</h1>
    <table class="tableofevents">
        <th>Event name</th>
        <th>Host</th>
        <th>Game(s)</th>
        <th>Players</th>
        <th>Location</th>
        <th>Time</th>
        {% for event in past %}
        <tr>
            <td><a href="/events/{{event.id}}">{{event.name}}</a></td>
            <td><a href="/members/{{event.host.id}}">{{event.host.username}}</a></td>
            <td>{% for game in event.games %}<a href="{{game.link}}">{{game.title}}</a>    {% endfor %}</td>
            <td>{{joined[event.name]}}</td>
            <td>{{event.location.name}}</td>
            <td>{{event.time}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}