{% extends "layouts/base.html" %}
{% block title %} Homepage {% endblock %}
{% block morestyle %}
.greeting {
    float: right;
}
.greeting img {
    float: left;
}
.future {
    float:right;
}
.somegames {
    float:left;
}
.admins {
    float: right;
    margin: 30px;
}
.somemembers {
    float:right;
    margin: 30px;
}
.events {
    position: relative;
    margin-top:500px;
    width: 90%;
    overflow: hidden;
}
.centercontent {
    position: relative;
}
{% endblock %}
{% block content %}

<div class="greeting">
    <img class= "logo" src={{club.img_link}} alt="board game club logo">
    <h2>Hi, {{current_user.username}}!</h2>
    <h1>{{club.h1}}</h1>
    <p>{{club.welcoming_text}}</p>
</div>
<div class="centercontent">
    <div class="somegames">
        <h3>Games recently added to collection</h3>
        <ul>{% for game in newer_games %}
            <li><a href={{game.link}}>{{game.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class=admins>
        <h3>Club admins</h3>
        <ul>{% for admin in admins %}
            <li><a href="/members/{{admin.id}}">{{admin.username}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="somemembers">
        <h3></h3>
        <ul>
        </ul>
    </div>
</div>
<div class="events">
    <h1>EVENTS</h1>
    <div class="future">
        <h3>Future events</h3>
        <ul>
            <li><a href="somelink">Some event</a></li>
            <li><a href="somelink">Some event</a></li>
            <li><a href="somelink">Some event</a></li>
            <li><a href="somelink">Some event</a></li>
            <li><a href="somelink">Some event</a></li>
        </ul>
    </div>
    <div class="past">
        <h3>Past events</h3>
        <ul>
            <li><a href="somelink">Some event</a></li>
            <li><a href="somelink">Some event</a></li>
            <li><a href="somelink">Some event</a></li>
            <li><a href="somelink">Some event</a></li>
            <li><a href="somelink">Some event</a></li>
        </ul>
    </div>

</div>
{% endblock %}
