{% extends "layouts/base.html" %}
{% block title %} Members {% endblock %}
{% block content %}
<div class="searchmember">
    <p>Search for a member:</p>
    <form class="search" method="post" action="/members/search">
        <input class="form-control"
          type="search"
          name="search_term"
          placeholder="Find a member">
      </form>
</div>
<div>
    <h2>Our club currently has {{members_num}} members</h2>
</div>
<div class="memberstable">
    <table class="tableofmembers">
        <th>Username</th>
        <th>About</th>
        <th>Rank</th>
        {% for member in members %}
        <tr>
            <td><a href="/members/{{member.id}}">{{member.username}}</a></td>
            <td><p>{{member.description}}</p></td>
            <td>{% if member.admin %}Admin{% endif %}{% if member.member %} member{% endif %}{% if not member.admin and not member.member %}guest{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}