{% extends "layouts/base.html" %}
{% block title %} {{member.username}} {% endblock %}
{% block content %}
<div class="topcontent">
    <img class="profile_img" src='{{member.img_link}}' alt="profile image">
    <h1 style="font-size: 6em;">{{member.username}}</h1>
    {% if current_user==member %}<a href="/members/me/edit"><button style="background-color: rgb(124, 94, 59); color: rgb(255, 255, 255);">Edit</button></a>{% endif %}
    <h3>Rank: {%+ if member.admin %}Admin {% endif %}{%+ if member.member %}member {% endif %}{%+ if not member.admin and not member.member %}guest {% endif %} </h3>
    <p>{{member.description}}</p>
</div>
<div class="centercontent">
    <table>
        <th>Personal Information</th>
        <th>{{member.username}}</th>
        <tr>
            <td>First Name:</td>
            <td>{{member.first_name}}</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>{{member.last_name}}</td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td>{{member.phone}}</td>
        </tr>
        <tr>
            <td>e-mail:</td>
            <td>{{member.email}}</td>
        </tr>
        <th>Home address</th>
        <th>{{member.home_address.name}}</th>
        <tr>
            <td>Country:</td>
            <td>{{member.home_address.country}}</td>
        </tr>
        <tr>
            <td>City:</td>
            <td>{{member.home_address.city}}</td>
        </tr>
        <tr>
            <td>Street:</td>
            <td>{{member.home_address.street}}</td>
        </tr>
        <tr>
            <td>House number:</td>
            <td>{{member.home_address.house_num}}</td>
        </tr>
        <tr>
            <td>Appartment number:</td>
            <td>{{member.home_address.appartment_num}}</td>
        </tr>
    </table>
</div>
<div class="user_collection">
    <h2 style="font-size: 250%;">{{member.username}}'s games collection [{{games_count}}] :</h2>
    <ul>{% for game in member.ownership %}<li><a href='{{game.link}}'>{{game.title}}{% if current_user==member %}</a><button class="delete-button" style="background-color: red;" data-id="{{game.id}}">&cross;</button></li>{% endif %}{% endfor %}
        {% if current_user==member %}<li><a href="/games/create"><button style="background-color: green; color:white" >&plus;</button></a></li>{% endif %}
    </ul>
</div>
{% if current_user.admin %}
<div>
    <br>
    <br>
    <br>
    <button style="font-size: xx-large; background-color: rgb(194, 18, 18);" class="memberdelete">&cross; DELETE ACCOUNT</button>
</div>
{% endif %}
<script>
    {% if current_user==member %}
    const deleteButtons = document.querySelectorAll('.delete-button')
    for (let i=0;i<deleteButtons.length;i++) {
        const deleteButton=deleteButtons[i];
        deleteButton.onclick=function(e) {
            const gameID=e.target.dataset['id'];
            fetch('/games/'+gameID+'/unown', {
                method: 'DELETE'
            })
            .then(function() {
                location.reload();
            })

        }
    }
    {% endif %}
    {% if current_user.admin %}
    const deleteButton = document.querySelector('.memberdelete')
    deleteButton.onclick=function(e) {
        fetch('/members/'+{{member.id}}+'/delete', {
            method: 'DELETE'
        })
        .then(function() {
            location.window.href="members/all";
        })

    }
    {% endif %}
    

</script>
{% endblock %}