{% extends "layouts/base.html" %}
{% block title %} {{member.username}} {% endblock %}
{% block content %}
<div class="topcontent">
    <img class="profile_img" src='{{member.img_link}}' alt="profile image">
    <h1 style="font-size: 6em;">{{member.username}}</h1>
    <h3>Rank: {%+ if member.admin %}Admin {% endif %}{%+ if member.member %}member {% endif %}{%+ if not member.admin and not member.member %}guest {% endif %} </h3>
    <p>{{member.description}}</p>
</div>
<button style="background-color: brown;" onclick="window.location.href = '/members/{{member.id}}/detailed'">Get details (only for members)</button>
<div class="user_collection">
    <h2 style="font-size: 250%;">{{member.username}}'s games collection [{{games_count}}] :</h2>
    <ul>{% for game in member.ownership %}<li><a href='{{game.link}}'>{{game.title}}</a><button class="delete-button" style="background-color: red;" data-id="{{game.id}}">&cross;</button></li>{% endfor %}
        <li><a href="/games/create"><button style="background-color: green; color:white" >&plus;</button></a></li>
    </ul>
</div>
{% if current_user.admin %}
<div>
    <br>
    <br>
    <br>
    <button style="font-size: xx-large; background-color: rgb(194, 18, 18);" class="memberdelete">&cross;</button>
</div>
{% endif %}
<script>
    const deleteButtons = document.querySelectorAll('.delete-button')
    for (let i=0;i<deleteButtons.length;i++) {
        const deleteButton=deleteButtons[i];
        deleteButton.onclick=function(e) {
            const gameID=e.target.dataset['id'];
            fetch('/games/'+gameID+'/unown', {
                method: 'DELETE'
            })
            .then(function() {
                location.reload();
            })

        }
    }
    const deleteButton = document.querySelector('.memberdelete')
    deleteButton.onclick=function(e) {
        fetch('/members/'+{{member.id}}+'/delete', {
            method: 'DELETE'
        })
        .then(function() {
            location.window.href="members/all";
        })

    }
    

</script>
{% endblock %}