{% extends "layouts/base.html" %}
{% block title %} Edit {{member.username}} {% endblock %}
{% block content %}
<h1>Edit your account</h1>
<form action="" method="POST">
    <p>
        {{form.username.label}}<br>
        {{form.username(size=40, value=member.username)}}
    </p>
    <p>
        {{form.img_link.label}}<br>
        {{form.img_link(size=40, value=member.img_link)}}
    </p>
    <p>
        {{form.description.label}}<br>
        {{form.description(cols="60", rows="5")}}
    </p>
    <h2> Personal Information</h2>
    <p>
        {{form.first_name.label}}<br>
        {{form.first_name(size=40, value=member.first_name)}}
    </p>
    <p>
        {{form.last_name.label}}<br>
        {{form.last_name(size=40, value=member.last_name)}}
    </p>
    <p>
        {{form.phone.label}}<br>
        {{form.phone(size=30, value=member.phone)}}
    </p>
    <p>
        {{form.email.label}}<br>
        {{form.email(size=40, value=member.email)}}
    </p>
    <h3>Home Address</h3>
    <p>
        {{form.country.label}}<br>
        {{form.country(size=40, value=member.home_address.country)}}
    </p>
    <p>
        {{form.city.label}}<br>
        {{form.city(size=40, value=member.home_address.city)}}
    </p>
    <p>
        {{form.street.label}}<br>
        {{form.street(size=40, value=member.home_address.street)}}
    </p>
    <p>
        {{form.house_num.label}}<br>
        {{form.house_num(size=10, value=member.home_address.house_num)}}
    </p>
    <p>
        {{form.appartment_num.label}}<br>
        {{form.appartment_num(size=10, value=member.home_address.appartment_num)}}
    </p>
    <p>{{form.submit(value='Edit account')}}</p>



</form>
{% endblock %}